@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #343d46;
}

a:hover {
  color: plum;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 1024px;
  margin: 1rem auto;
  padding: 0;
  height: 100vh;
  background-color: #fff;
}

.welcome {
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  place-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
  background: #ddd;
}

.introduction {
  margin: 0.5em;
  text-align: center;
}

.navigation {
  width: 50%;
  border: 1px solid red;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
}

.projects {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 400px);
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: lightpink;
  padding: 1rem;
}

.project-img {
  height: 400px;
  width: 100%;
  background: wheat;
  margin: 0.5em 0;
}
