@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,900&display=swap");

/*
  "primary": #c694c6,
  "dark": #343d46,
  "light": #eee,
*/

.nav-link {
  color: #343d46;
}

/* To center in page using .h-100 we need this, see:
https://stackoverflow.com/questions/42388989/bootstrap-4-center-vertical-and-horizontal-alignment
*/
html,
body {
  height: 100vh;
}

body {
  background-color: #eee;
}
