*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =====================================================================
   Custom CSS Properties
   =====================================================================*/

:root {

    --font-primary: 'Open Sans', sans-serif;
    --font-accent: 'Roboto Slab',serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-dark: 900;

    --clr-light: #eee;
    --clr-dark: #343d46;
    --clr-accent: #c694c6;

    --h1: 3rem;
    --h2: 2.25rem;
    --h3: 1.25rem;
    --font-body: 1rem;

    /* box-shadow for images, done in two layers for more realism:
       first one is bit darker and we fade the second to add better
       depth
    */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
    :root {
        /* Make larger fonts at >=min-width screen size */
        --font-body: 1.125rem;
        --h1: 4.5rem;
        --h2: 3.75rem;
        --h3: 1.5rem;
        line-height: 1.4;
    }
}

/* =====================================================================
   General Styles
   =====================================================================*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--font-primary);
    font-size: var(--font-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block; /* fixes some issues that occur sometimes */
    max-width: 100%; /* don't overflow parents */
    border-radius: 2px;
}

/* when tab key pressed */
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}



/* =====================================================================
   Buttons
   =====================================================================*/

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--font-weight-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* =====================================================================
   Typography
   Using em measurements for padding and margins for text--relative to
   parent font-size, rather than root container (html element) font-size.
   =====================================================================*/

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

.title {
    font-family: var(--font-accent);
    margin-bottom: .25em;
}

.subtitle {
    font-size: var(--h3);
    padding: .5em 1em;
    margin-left: auto;
}

.subtitle-hero {
    background-color: var(--clr-accent);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    color: black;
    align-self: center;
}



.subtitle-portfolio {
    color: var(--clr-dark);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    margin-bottom: 2em;
    text-align: center;
}


/*  =====================================================================
    Header
    =====================================================================*/

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-toggle {
    padding: .5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

/* applies when nav-open class set by JS event, moves nav back from
   off screen in x axis
*/
.nav-open #navbar {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed; /* fixes so when you scroll when nav open it stays put */
}

.fa-bars {
    display: block;
    /* TODO: need this relative? */
    /*position: relative;*/
    transition: transform 250ms ease-in-out;
    color: var(--clr-accent);
    transform: scale(2);
}

#navbar {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);

    /* Expand everywhere when open */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    /* Moves element off screen in x axis */
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

/* Desktop sizes */
/* @media (min-width: 600px) {
    .nav-toggle {
        display: none;
    }
} */

.nav-list {
    list-style: none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2);
}

.nav-link:hover {
    color: var(--clr-accent);

}

/*  =====================================================================
    Intro Section
    =====================================================================*/

.hero {
    padding: 8em 2em 5em 2em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    height: 100vh;
}

.name {
    text-transform: uppercase;
    color: var(--clr-dark);
    font-family: var(--font-accent);
    letter-spacing: .125rem;
}

.first-name {
    font-weight: var(--font-weight-regular);
}

.last-name {
    font-weight: var(--font-weight-dark);
}

.headline {
    display: flex;
    background-color: var(--clr-accent);

}

.headline-list {
    display: flex;
    padding: .5em;
    margin: .5em;
    align-items: center;
}

.headline-list-item {
    list-style: none;
    margin-right: .5em;
    padding: .5em;
}

.headline-icon {
    transform: scale(1.5);
    color: var(--clr-dark);
}

.arrow-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90vh;
}

/* =====================================================================
   Services Section
   =====================================================================*/

.skills {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.title-skills {
    color: var(--clr-accent);
    margin-bottom: 1em;
}

.services {
    margin-bottom: 4em;
}

.service-title {
    text-align: center;
    font-family: var(--font-accent);
}

.service {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

/* When we reach at least min-width */
@media (min-width: 600px) {

    /* Use flex row to create several columns instead of one at mobile-size */
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    /* sibling selector, applies if there is sibling beside it in flow,
       so does not apply when scaled down to mobile/single column view
     */
    .service + .service {
        margin-left: 1em;
    }
}


/* =====================================================================
    Portfolio
   =====================================================================*/

.portfolio {
    background-color: var(--clr-light);
    color: var(--clr-light);
    text-align: center;

}

.title-portfolio {
    color: var(--clr-dark);
}

/* The coloured horizontal bar after the title */
.title-portfolio::after {
    display: block;
    content: '';
    width: 25vw;
    height: 2px;
    background-color: var(--clr-accent);
    margin: 1em auto 0;
}

.portfolio-images {
    display: grid;
    /* min width of 300px wide 1 column display on mobile,
    then grows if possible up to fill 'max-width'
      */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: .25em;
    grid-auto-flow: dense;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-img {
    transition: transform 250ms ease-in-out;
    border: 1px solid black;
}

/* Used to pop the :focus state style outline above image when hitting Tab key
   to navigate. We do it this way because Tab outlining only applies to links
   i.e., <a href=""> not image tags.
*/
.portfolio-item:focus {
    position: relative;
    z-index: 2;
}


/* When focused with Tab keying or moused over
   we scale the image inside
*/
.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
}

.chev-up {
    color: var(--clr-dark);
}

/* =====================================================================
   Footer
   =====================================================================*/

footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--font-weight-bold);
}

.footer-link:hover,
.social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}
