/* Calculate total sizing space give to content by including margin
   and padding. Easier for humans to reason about and work with.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom CSS Properties */
:root {

    /* Using native CSS3+ custom properties instead of SASS/SASS-like
       tools because with these we can dynamically alter them using
       media queries.
    */
    --ff-primary: Helvetica, Arial, sans-serif;
    --ff-secondary: monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #eee;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /* REM is relative to default root element font-size, usually
       16px, rather than relative to parent font-size, 'em'.
    */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* box-shadow for images, done in two layers for more realism:
       first one is bit darker and we fade the second to add better
       depth
    */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        /* Make larger fonts at >800px screen size */
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    /* so clicking on nav link scrolls there instead of abrupt jump */
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block; /* fixes some issues that occur sometimes */
    max-width: 100%; /* so don't overflow parents */
}

strong {font-weight: var(--fw-bold);}

/* when tab key pressed */
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography
   Using em measurements for padding and margins for text--relative to
   parent container, rather than root container base size.

*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1); }
h2 {font-size: var(--fs-h2); }
h3 {font-size: var(--fs-h3); }

.section__title {margin-bottom: .25em; }

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    padding: .5em 1em;
    text-align: right;
}

.section__subtitle--intro,
.section__subtitle--about {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__title--intro strong {display: block;}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {

}

.nav-toggle {
    padding: .5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}


/* applies when nav-open class set by JS event, moves nav back from
   off screen in x axis
*/
.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed; /* fixes so when you scroll when nav open it stays put */
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;

}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}
.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);

    /* Expand everywhere when open */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    /* Moves element off screen in x axis */
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}

.nav__link:hover {
    color: var(--clr-accent);

}




/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

/* 300, 600, 900 min-widths are good breakpoints to start with
   and tweak from there, but not hard-and-fast rule.
*/
@media (min-width: 600px) {
    .intro {
        display: grid;
        /* at bigger size, keep this section centered by using
        min-content so section will match width of content inside, and
        then using margin trick to auto-center left-to-right
        */
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        /* so it never disappears because of min-content property */
        min-width: 200px;

    }

    .section__subtitle--intro {
        align-self: start; /* don't expand vertically */

    }
}

/* Section - My Services */

.my-services {
    background-color: var(--clr-dark);
/*    background-image: url(../img/solarized8_dark_flat.png);
    background-blend-mode: multiply;
    background-size: cover;
*/
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
}

.services {
    margin-bottom: 4em;
}
.service {
    max-width: 600px;
    margin: 0 auto;
}


@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    /* sibling selector, applies if there is sibling beside it in flow,
       so does not apply when scaled down to mobile/single column view
     */
    .service + .service {
        margin-left: 1em;
    }
}

/* About me / who i am section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    /* break into 2 columns at <=600px */
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;

    }

    .about-me__img {
        grid-area: img;
    }
}

/* Work examples section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    text-align: center;
}


.portfolio {
    display: grid;
    /* min of 300px wide and grows as needed */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.portfolio__item {
    /* grow within the box, don't show the overflow when it zooms in */
    overflow: hidden;
}

.portfolio__img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}
