*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom CSS Properties */
:root {

    --font-primary: Helvetica, Arial, sans-serif;
    --font-secondary: monospace;

    --font-weight-regular: 300;
    --font-weight-bold: 900;

    /* colours from 'mariana' theme of st3 :) */
    --clr-light: #eee;
    --clr-dark: #343d46; /* onyx */
    --clr-accent: #c694c6; /* pastel violet */

    --clr-gainsboro: #d8dee9; /* gainsboro */
    --clr-carmine-pink: #ec5f66; /* light carmine pink */
    --clr-eton-blue: #99c794; /* eton blue */

    --h1: 3rem;
    --h2: 2.25rem;
    --h3: 1.25rem;
    --font-body: 1rem;

    /* box-shadow for images, done in two layers for more realism:
       first one is bit darker and we fade the second to add better
       depth
    */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
    :root {
        /* Make larger fonts at >=min-width screen size */
        --h1: 4.5rem;
        --h2: 3.75rem;
        --h3: 1.5rem;
        --font-body: 1.125rem;
        line-height: 1.4;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-gainsboro);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block; /* fixes some issues that occur sometimes */
    max-width: 100%; /* don't overflow parents */
}

strong {font-weight: var(--font-weight-bold);}

/* when tab key pressed */
:focus {
    outline: 3px solid var(--clr-carmine-pink);
    outline-offset: 3px;
}



/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--font-weight-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography
   Using em measurements for padding and margins for text--relative to
   parent container, rather than root container base size.

*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--h1); }
h2 {font-size: var(--h2); }
h3 {font-size: var(--h3); }

.section-title {margin-bottom: .25em; }

.section-subtitle {
    margin: 0;
    font-size: var(--h3);
    padding: .5em 1em;
    text-align: right;
}

.section-subtitle--intro,
.section-subtitle--about {
    background-color: var(--clr-accent);
    font-family: var(--font-secondary);
    margin-bottom: 1em;
}

.section-title--intro strong {display: block;}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-toggle {
    padding: .5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}


/* applies when nav-open class set by JS event, moves nav back from
   off screen in x axis
*/
.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed; /* fixes so when you scroll when nav open it stays put */
}

.fa-bars {
    display: block;
    /* TODO: need this relative? */
    position: relative;
    transition: transform 250ms ease-in-out;
    color: var(--clr-accent);
    transform: scale(2);
}

.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);

    /* Expand everywhere when open */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    /* Moves element off screen in x axis */
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2);
}

.nav-link:hover {
    color: var(--clr-accent);

}




/* Intro Section */

/*.intro {
    position: relative;
}
*/
.intro-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        /* at bigger size, keep this section centered by using
        min-content so section will match width of content inside
        */
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-img {
        grid-area: img;
        /* so it never disappears because of min-content property */
        min-width: 200px;

    }

    .section-subtitle--intro {
        align-self: start; /* don't expand vertically */

    }
}

/* Section - My Services */

.my-services {
    background-color: var(--clr-dark);
/*    background-image: url(../img/solarized8_dark_flat.png);
    background-blend-mode: multiply;
    background-size: cover;
*/
    color: var(--clr-light);
    text-align: center;
}

.section-title--services {
    color: var(--clr-accent);
}

.services {
    margin-bottom: 4em;
}
.service {
    max-width: 600px;
    margin: 0 auto;
}

/* When we reach at least min-width */
@media (min-width: 600px) {

    /* Use flex row to create several columns instead of one at mobile-size */
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    /* sibling selector, applies if there is sibling beside it in flow,
       so does not apply when scaled down to mobile/single column view
     */
    .service + .service {
        margin-left: 1em;
    }
}

/* About me / who i am section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    /* Create new layout at >= min-width for desktops */
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }

    .section-title--about {
        grid-area: title;

    }

    .about-me-img {
        grid-area: img;
    }
}

/* Work examples section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.section-subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--font-weight-bold);
    margin-bottom: 2em;
    text-align: center;
}


.portfolio {
    display: grid;
    /* min of 300px wide and grows as needed */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.portfolio-item {
    /* grow within the box, don't show the overflow when it zooms in */
    overflow: hidden;
}

.portfolio-img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio-img:hover {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--font-weight-bold);
}

.footer-link:hover,
.social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}
