$font-primary: 'Open Sans', sans-serif;
$font-accent: 'Roboto Slab', serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-dark: 900;
$color-light: #eee;
$color-dark: #343d46;
$color-accent: #c694c6;

$h1: 3rem;
$h2: 2.25rem;
$h3: 1.25rem;
$body-font-size: 1rem;

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}
